body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

}

.neon-button {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    color: #00ffff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #00ffff;
    border-radius: 50px;
    background-color: #000000;
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    transition: 0.3s;
    cursor: pointer;
}

.neon-button:hover {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
}

.neon-button:active {
    box-shadow: none;
}